# -*- mode: toml; -*-

# https://megalinter.io/latest/descriptors/repository_kics/
# https://docs.kics.io/latest/configuration-file/
# https://docs.kics.io/latest/commands/#scan-command-options

exclude-queries = [
  "555ab8f9-2001-455e-a077-f2d0f41e2fb9",
  # https://docs.kics.io/latest/queries/cicd-queries/common/555ab8f9-2001-455e-a077-f2d0f41e2fb9/
]
